.introduction, .info {
    text-align: justify;
}

h1, .wordvers, .playing {
    text-align: center;
}

.wordvers {
    display: block;
    margin: 0 auto;
    padding: 15px 100px;
}

.info {
    display: none;  
    overflow: hidden;
}

.red {
    color: #F00;
}

.form {
    width: 250px;
    margin: 0 auto;
}

.form-input {
    height: 90px;
    width: 250px;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}

.submit  {
    height: 55px;
    width: 140px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;  
}

.play-again {
    display: none;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0;
    color: #F00;
}

.new-game {
    height: 50px;
    width: 150px;
    font-size: 2em;
    margin: 0 auto;
    display: none;
}

.end-of-game {
    height: 50px;
    width: 150px;
    font-size: 2em;
    margin: 0 auto;
    margin-top: 10px;
    display: none;
}